.buttonForm{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
}
.buttonBox{
    margin-top: 1rem;
    text-align: center;

}

.signUpform{

    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
    // width:50%;
     margin: auto;
     text-align: center;
}
.inputControl{

    color: white;
}