.header{
    // border: 1px solid;
background: linear-gradient(#e66465, #9198e5);
    // color: linear-gradient(45deg, #333, #999);
    border-radius: 5px;
    box-shadow: 0px 2px 5px 3px rgba(99, 99, 99,0.5);
    margin-bottom: 4rem!important;
    // color: white;

  }

.btnProjectForm{
    text-align: start;
}

.filebase{
    margin-top:1rem ;
    // border: 1px solid;
    width:250px;
}

.projectForm{

     background-color: rgba(255, 255, 255,0.8)!important;
    padding: 1rem;
    border-radius: 10px;

}
// .trigger{}